/* ---UNIVERSAL--- */
/* VARIABLES */
/* FUENTES */
@font-face {
  font-family: Rubik;
  src: url(../res/fonts/Rubik/Rubik-Regular.ttf);
}
@font-face {
  font-family: Rubik Medium;
  src: url(../res/fonts/Rubik/Rubik-Medium.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../res/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Righteous;
  src: url(../res/fonts/Righteous.ttf);
}
/* COMPONENTES GENERALES */
/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fcfcfc;
  font-family: Rubik Medium;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  color: #fcfcfc;
  font-family: Rubik Medium;
}

h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  color: #fcfcfc;
  font-family: Rubik Medium;
}

h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #fcfcfc;
  font-family: Rubik Medium;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #101114;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 25px;
}

::-webkit-scrollbar-thumb {
  background: #5B6171;
  border-radius: 10px;
} /* ---ESTRUCTURA--- */
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #101114;
}
header a {
  color: #fcfcfc;
}

main {
  padding: 150px 0;
  background-color: #090A0B;
}

footer {
  width: 100%;
  padding: 50px 100px;
  background-color: #101114;
}

/* HEADER */
.menu {
  margin: 0;
  color: #fcfcfc;
  font-family: Rubik Medium;
  font-size: 20px;
  list-style: none;
}

.logo {
  height: 50px;
}

.search {
  width: auto;
  height: 50px;
  padding: 10px;
  background-color: #5B6171;
  border-radius: 10px;
}

.searchBox {
  margin-left: 5px;
  width: calc(100% - 35px);
  background-color: #5B6171;
  border: none;
  outline: none;
  color: #fcfcfc;
  font-family: Rubik;
  font-weight: normal;
  font-size: 18px;
}
.searchBox::placeholder {
  color: #fcfcfc;
}

.cart a {
  display: flex;
  align-items: center;
}
.cart a img {
  position: relative;
  top: -2px;
  margin-right: 12px;
  height: 40px;
}
.cart a p {
  margin: 0;
}

.profile a {
  display: flex;
  align-items: center;
}
.profile a img {
  margin-right: 12px;
  height: 38px;
}
.profile a p {
  margin: 0;
}

@media (max-width: 992px) {
  .logo {
    content: url("../res/icon/icon_2.png");
  }
  .cart a p {
    display: none;
  }
  .cart a img {
    margin: 0;
  }
  .profile a p {
    display: none;
  }
  .profile a img {
    margin: 0;
  }
  .searchBox::placeholder {
    color: #5B6171;
  }
}
/* PAGINA INDEX */
.game {
  display: flex;
  margin: 1.5% 0;
  padding: 2.5%;
  width: 100%;
  background-color: #101114;
  border-radius: 10px;
}

.portrait {
  padding: 0;
  height: auto;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5%;
  font-size: 20px;
}

.platforms {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 5% 1.5%;
  width: auto;
  background-color: #5B6171;
  border-radius: 10px;
}
.platforms .fa-brands {
  margin: 0 0.5rem;
}

.categories {
  font-family: Rubik;
  font-size: 18px;
  color: #5B6171;
}

.off {
  padding: 1.25%;
  width: auto;
  border-radius: 5px;
  background-color: #725AC1;
  font-size: 20px;
}

.price {
  display: flex;
  align-items: center;
  padding: 0;
}

.noOff {
  margin: 0;
  padding: 0;
  color: #5B6171;
  font-family: Rubik;
  text-decoration: line-through;
}

.priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3%;
  background-color: #5B6171;
  border-radius: 10px;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 20%;
  background-color: #725AC1;
  border-radius: 10px;
}
.addButton p {
  margin-left: 5px;
  color: #fcfcfc;
  font-family: Rubik Medium;
  font-size: 16px;
}

.featured .game {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  margin-top: 18px;
  padding: 0;
  height: 90%;
}
.featured .portrait {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.featured .info {
  flex-direction: row;
  justify-content: none;
  align-items: center;
  width: 100%;
  padding: 2.5%;
}

.bestGames {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: auto;
  height: 90%;
}

.split {
  margin: 75px 0;
  border: 3px solid #101114;
  border-radius: 5px;
  color: #101114;
  opacity: 1;
}

.splitVertical {
  display: flex;
  flex-direction: column;
  width: 0;
  margin: 0 auto;
  padding: 0;
  border: 3px solid #101114;
  border-radius: 5px;
  color: #101114;
  opacity: 1;
}

.gameList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 18px;
  height: 100%;
}
.gameList .addButton {
  padding: 2% 7.5%;
}
.gameList .noOff {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .gameList .addButton {
    padding: 2% 20%;
  }
  .gamePage .addButton {
    padding: 5% 20% !important;
  }
  .addButton p {
    display: none;
  }
  .splitVertical {
    display: none;
  }
  .filters, .filters h2, .filters p, .filters .sliderBar, .filters .catContainer {
    display: none;
    max-height: 0;
  }
}
.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 650px;
}
.filters p {
  font-size: 28px;
  font-family: Rubik;
}

datalist {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
datalist option {
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
}

.sliderBar {
  background-color: #101114;
  border-radius: 10px;
  padding: 15px 25px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7.5px;
  background: #5B6171;
  border-radius: 5px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background: #725AC1;
  border: #fcfcfc solid 4px;
  border-radius: 50px;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background: #725AC1;
  border: #fcfcfc solid 4px;
  border-radius: 50px;
  cursor: pointer;
}

.catContainer {
  height: 55%;
  padding: 25px 50px;
  background-color: #101114;
  border-radius: 15px;
}

.filterCategories {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 50px;
  overflow-y: scroll;
}

.checkBox {
  margin: 10px 0 10px 0;
  font-family: Rubik;
  font-size: 20px;
}
.checkBox input {
  border: 3.5px solid #5B6171;
  border-radius: 5px;
  background-color: #090A0B;
  box-shadow: none;
}
.checkBox input:checked {
  border: none;
  border-radius: 5px;
  background-color: #725AC1;
  box-shadow: none;
}

/* PAGINA JUEGO */
.gamePage .off {
  font-size: 32px;
}
.gamePage .price {
  justify-content: space-between;
  padding: 2%;
  font-family: Rubik Medium;
  font-size: 24px;
  color: #fcfcfc;
  background-color: #101114;
  border-radius: 15px;
}
.gamePage .noOff {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.gamePage .priceBox {
  background-color: #101114;
  padding: 0px;
}
.gamePage .addButton {
  padding: 5%;
}
.gamePage .addButton p {
  font-size: 18px;
}

.gallery {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 18px;
}
.gallery .portrait {
  height: auto;
  margin-bottom: 10px;
}

.selector {
  display: flex;
  overflow-x: scroll;
  overflow-y: none;
}
.selector img {
  margin: 10px;
  width: 128px;
  height: 72px;
  border-radius: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 18px;
  padding: 10%;
  height: 85%;
  background-color: #101114;
  border-radius: 15px;
}
.description h3 {
  font-size: 28px;
  font-family: Rubik;
  font-weight: normal;
}
.description h4 {
  font-size: 24px;
  font-family: Rubik;
  font-weight: normal;
}
.description p {
  font-size: 24px;
  color: #5B6171;
  font-family: Rubik;
  font-weight: normal;
}
.description .categories {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
}
.description .categories p {
  margin: 10px;
  margin-top: 0;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 30px;
  background-color: #090A0B;
}
.description .categories p:first-child {
  margin-left: auto;
}
.description .categories p:last-child {
  margin-right: auto;
}

.descText {
  overflow-y: scroll;
  height: 30%;
}
.descText p {
  color: #5B6171;
  font-family: Rubik;
  font-size: 20px;
  font-weight: normal;
}

.developer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* PAGINA CARRITO */
.cartList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 24px;
  padding: 5%;
  background-color: #101114;
  border-radius: 15px;
}
.cartList .priceBox {
  justify-content: center;
  background-color: #725AC1;
}

.cartGames {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 60%;
}
.cartGames .game {
  display: flex;
  justify-content: space-between;
  background-color: #5B6171;
  width: 95%;
  margin: 15px auto;
}
.cartGames .game:first-child {
  margin-top: auto;
}
.cartGames .game:last-child {
  margin-bottom: auto;
}
.cartGames .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cartGames h3 {
  font-size: 24px;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5%;
  background-color: #101114;
  border-radius: 10px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;
}

.buyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5% 5%;
  background-color: #725AC1;
  border-radius: 10px;
}
.buyButton h3 {
  font-size: 32px;
}

/* PAGINA LOGIN */
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 600px;
  padding: 5% 7.5%;
  background-color: #101114;
  border-radius: 15px;
}
.login p {
  font-size: 20px;
  font-family: Rubik;
  font-weight: normal;
  text-align: center;
}
.login a {
  color: #fcfcfc;
  text-decoration: underline;
}
.login #btLogin {
  margin: 0 2%;
  padding: 5% 0;
  font-family: Rubik Medium;
  font-size: 28px;
  color: #fcfcfc;
  background-color: #725AC1;
  border-radius: 20px;
}

.loginInput {
  display: flex;
  flex-direction: column;
  margin: 0px 1.5%;
  font-size: 24px;
}
.loginInput input {
  height: auto;
  margin: 2.5% 0;
  padding: 5px;
  font-size: 20px;
  font-family: Rubik;
  font-weight: normal;
  color: #fcfcfc;
  background-color: #090A0B;
  border: 1px solid #5B6171;
  border-radius: 5px;
}

/* PAGINA SIGNUP */
.signup {
  height: 700px;
}
.signup .checkBox {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: Rubik;
  font-weight: normal;
}
.signup .checkBox a {
  color: #fcfcfc;
  text-decoration: underline;
}
.signup .checkBox input {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

/* FOOTER */
.watermark {
  display: flex;
  align-items: center;
}

.brand {
  color: #5B6171;
  font-family: Righteous;
}

.author {
  margin-left: 15px;
  font-size: 16px;
  color: #5B6171;
  font-family: Montserrat;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 20%;
  height: 75px;
}
.contact h2 {
  font-size: 24px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100px;
  max-width: 250px;
}
.icons img {
  margin: 5px;
}

.disclaimer {
  display: flex;
  justify-content: center;
  margin-top: 125px;
}
.disclaimer p, .disclaimer u {
  width: 100%;
  color: #5B6171;
  font-family: Montserrat;
  font-size: 16px;
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
