.cartList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;    
    
    width: 100%;
    height: 100%;

    margin-top: 24px;

    padding: 5%;

    background-color: $color-bg-secondary;
    border-radius: 15px;

    .priceBox{
        justify-content: center;
    
        background-color: $color-primary;
    }
}

.cartGames{
    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    width: 100%;

    height: 60%;

    .game{
        display: flex;
        justify-content: space-between;
    
        background-color: $color-secondary;
    
        width: 95%;
    
        margin: 15px auto;

        &:first-child{
            margin-top: auto;
        }

        &:last-child{
            margin-bottom: auto;
        }
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        height: 100%;
    }

    h3{
        font-size: 24px;
    }
}

.delete{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.5%;

    background-color: $color-bg-secondary;
    border-radius: 10px;
}

.total{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.buy{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 15%;
}

.buyButton{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2.5% 5%;

    background-color: $color-primary;
    border-radius: 10px;

    h3{
        font-size: 32px;
    }
}