.cartList{
    @include flex(col, between, start, nowrap);
    
    width: 100%;
    height: 100%;

    margin-top: 1.5em;

    padding: 5%;

    background-color: $color-bg-secondary;
    border-radius: 15px;

    animation-name: anim-fade-up;
    animation-duration: 1s;

    .priceBox{
        justify-content: center;
    
        background-color: $color-primary;
    }
}

.cartGames{
    @include flex(col, between, none, nowrap);
    gap: 1em;

    overflow-y: scroll;
    overflow-x: hidden;

    width: 100%;

    height: 60%;

    .game{
        @include flex(row, between, none, nowrap);
    
        background-color: $color-secondary;
    
        width: 95%;
    
        margin: 0 auto;

        @extend .anim-pop-shadow;

        &:first-child{
            margin-top: auto;
        }

        &:last-child{
            margin-bottom: auto;
        }
    }

    .info{
        @include flex(col, between, none, nowrap);
    
        height: 100%;
    }

    h3{
        font-size: map-get($font-size, l);
    }
}

.delete{
    @include flex(row, center, center, nowrap);

    padding: .3em;

    background-color: $color-bg-secondary;
    border-radius: 10px;

    @extend .anim-pop-shadow;

    @media (hover: hover){
        &:hover{
            img{
                animation-name: swing;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
        }
    }

    &:active, &:focus{
        img{
            animation-name: swing;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
    }

    img{
        height: 1.75em;
    }
}

.total{
    @include flex(row, between, center, nowrap);

    width: 100%;
}

.buy{
    @include flex(row, between, center, nowrap);

    width: 100%;
    height: 15%;

    h3{
        @extend .anim-pop;
    }
}

.buyButton{
    @include flex(row, center, center, nowrap);

    padding: 1em 2em;

    background-color: $color-primary;
    border-radius: 10px;

    @extend .anim-pop-shadow;

    h3{
        font-size: map-get($font-size, xl);
    }
}