.gamePage{

    .price{
        @include flex(row, between, center, nowrap);
    
        padding: 1.5em;
    
        background-color: $color-bg-secondary;
        border-radius: 15px;

        animation-name: anim-fade-up;
        animation-duration: 1s;

        p{
            font-size: map-get($font-size, l);
        }
    }

    .off{
        font-size: map-get($font-size, l);
    }

    
    .noOff{
        width: auto;
        
        margin-left: auto;
        margin-right: auto;
    }

    .priceBox{
        background-color: $color-bg-secondary;
        padding: 0;
    }

    .addButton{
        padding: .5em .75em;
        
        p{
            font-size: map-get($font-size, s);
        }
    }
}

@media (max-width: 1200px) {
    .gamePage{
        .addButton{
            padding: .75em 20% !important;

            img{
                height: 2em;
            }
        }
    }
}

.gallery{
    @include flex(col, none, none, nowrap);
    
    height: 100%;

    margin-top: 1em;

    .portrait{
        height: auto;
    
        margin-bottom: .75em;

        animation-name: anim-fade-right;
        animation-duration: 1s;

        @extend .anim-none;
    }
}

.selector{
    display: flex;
    overflow-x: scroll;
    overflow-y: none;

    animation-name: anim-fade-up;
    animation-duration: 1s;

    img{
        margin: .75em;
    
        height: 4.5em;
    
        border-radius: 5px;

        @extend .anim-pop-shadow;

        @for $i from 1 through 10{
            &:nth-child(#{$i}){
                content: url("../res/img/gallery/gta#{$i}.jpg");
            }
        }
    }
}

.description{
    @include flex(col, between, start, nowrap);

    margin-top: 1em;

    padding: 10%;

    height: 85%;


    background-color: $color-bg-secondary;
    border-radius: 15px;

    animation-name: anim-fade-left;
    animation-duration: 1s;

    h3{
        font-size: map-get($font-size, l);
        font-family: Rubik;
    }

    h4{
        font-size: map-get($font-size, m);
    }

    p{
        font-size: map-get($font-size, m);
        color: $color-secondary;
    }

    .categories{
        @include flex(row, none, none, nowrap);
        white-space: nowrap;
        overflow-x: auto;
        
        width: 100%;

        p{
            margin: .5em;
        
            padding: .5em 1em;
        
            border-radius: 30px;
            background-color: $color-bg-primary;

            @extend .anim-pop-shadow;

            &:first-child{
                margin-left: auto;
            }

            &:last-child{
                margin-right: auto;
            }
        }
    }
}

.descText{
    overflow-y: scroll;

    height: 30%;
}

.developer{
    @include flex(row, between, center, nowrap);

    width: 100%;
}

.date{
    @include flex(row, between, center, nowrap);

    width: 100%;
}