.game{
    display: flex;

    margin: .5em 0;

    padding: 1em;

    width: 100%;

    background-color: $color-bg-secondary;
    border-radius: 10px;
}

.portrait{
    padding: 0;

    height: auto;

    border-radius: 10px;

    @extend .anim-pop-shadow;
}

.info{
    @include flex(col, between, none, nowrap);

    padding-left: 5%;
}

.platforms{
    @include flex(row, start, center, nowrap);

    margin-left: auto;
    
    padding: 0 .3em;
    width: auto;

    background-color: $color-secondary;
    border-radius: 10px;

    .fa-brands{
        font-size: 1.125rem;
        margin: .85em .5em;
    }
}

.categories{
    color: $color-secondary;
}

.off{

    padding: .25em;
    
    width: auto;

    border-radius: 5px;
    background-color: $color-primary;

    font-size: map-get($font-size, m);
    font-family: Rubik Medium;
    font-weight: 500;

    @media (hover: hover){
        &:hover{
            animation-name: tada-1;
            animation-duration: .75s;
        }
    }

    &:active, &:focus{
        animation-name: tada-1;
        animation-duration: .75s;
    }
}

.price{
    @include flex(row, start, center, nowrap);

    padding: 0;
}

.noOff{
    margin: 0;
    padding: 0;

    color: $color-secondary;
    text-decoration: line-through;

    @media (hover: hover){
        &:hover{
            animation-name: headShake;
            animation-duration: 1s;
        }
    }

    &:active, &:focus{
        animation-name: headShake;
        animation-duration: 1s;
    }
}

.priceBox{
    @include flex(row, around, center, nowrap);

    padding: .3em .5em;

    background-color: $color-secondary;
    border-radius: 10px;

    p{
        font-family: Rubik Medium;
        font-weight: 500;
    }
}

.addButton{
    @include flex(row, center, center, nowrap);

    padding: .3em 20%;

    background-color: $color-primary;
    border-radius: 10px;

    @extend .anim-pop-shadow;

    @media (hover: hover){
        &:hover{
            img{
                animation-name: pulse;
                animation-duration: .75s;
                animation-iteration-count: infinite;
            }
        }
    }

    &:active, &:focus{
        img{
            animation-name: pulse;
            animation-duration: .75s;
            animation-iteration-count: infinite;
        }
    }

    img{
        height: 1.5em;
    }

    p{
        margin-left: .3em;
    }
}

.featured{
    animation-name: anim-fade-down;
    animation-duration: 1s;

    .game{
        @include flex(col, none, center, nowrap);
    
        margin-top: 1em;
    
        padding: 0;
    
        height: 90%;

        margin-bottom: 3em;

        background: none;

        @extend .anim-pop;
        &:hover, &:active, &:focus{
            cursor: auto;
        }
    }
    
    

    .portrait{
        width: 100%;
    
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @extend .anim-none;
        
        &:hover, &:active, &:focus{
            cursor: pointer;
        }
    }

    .info{
        @include flex(row, none, center, nowrap);
    
        width: 100%;
    
        padding: 1em;
        
        background-color: $color-bg-secondary;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.bestSellers{
    margin-bottom: 3em;

    animation-name: anim-fade-down;
    animation-duration: 1s;
}

.bestGames{
    @include flex(col, between, none, nowrap);

    margin-top: 1em;

    height: 90%;
}

.split{
    margin-bottom: 3em;
    
    border: 3px solid $color-bg-secondary;
    border-radius: 5px;
    color: $color-bg-secondary;
    opacity: 1;
}

.splitVertical{
    @include flex(col, none, none, nowrap);

    width: 0;

    margin: 0 auto;

    padding: 0;
    
    border: 3px solid $color-bg-secondary;
    border-radius: 5px;
    color: $color-bg-secondary;
    opacity: 1;
}

.gameList{
    @include flex(col, between, none, nowrap);

    margin-top: 1em;

    height: 100%;

    animation-name: anim-fade-right;
    animation-duration: 1s;

    .addButton{
        padding: .3em 1em;
    }

    .noOff{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1200px) {
    .gameList{
        .addButton{
            padding: .3em 20%;
        }
    }

    .addButton{
        p{
            display: none;
        }
    }

    .splitVertical{
        display: none;
    }

    .filters{
        display: none;

        max-height: 0;

        h2, h3, .sliderBar, .catContainer{
            display: none;

            max-height: 0;
        }
    }
}

.filters{
    @include flex(col, between, none, nowrap);

    height: 650px;

    animation-name: anim-fade-left;
    animation-duration: 1s;
    
    h3{
        font-size: map-get($font-size, l);
        font-family: Rubik;
        font-weight: normal
    }
}

datalist {
    @include flex(row, between, none, nowrap);

    margin-top: 10px;

    option{
        font-family: Rubik;
        font-size: map-get($font-size, s);
        font-weight: normal;
    }
}

.sliderBar{
    background-color: $color-bg-secondary;
    border-radius: 10px;

    padding: 1em 1.5em;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 7.5px;
    background: $color-secondary;
    border-radius: 5px;
    
    &::-webkit-slider-thumb{
        -webkit-appearance: none;
        appearance: none;
        width: 22px;
        height: 22px;
        background: $color-primary;
        border: $color-white solid 4px;
        border-radius: 50px;
        cursor: pointer;
    }

    &::-moz-range-thumb{
        -moz-appearance: none;
        appearance: none;
        width: 22px;
        height: 22px;
        background: $color-primary;
        border: $color-white solid 4px;
        border-radius: 50px;
        cursor: pointer;
    }
}

.catContainer{

    height: 55%;

    padding: 1.5em 3em;

    background-color: $color-bg-secondary;
    border-radius: 15px;
}

.filterCategories{
    @include flex(col, none, none, nowrap);
    
    height: 100%;

    padding-left: 3em;

    overflow-y: scroll;
}

.checkBox{
    margin: 10px 0;

    font-family: Rubik;
    font-size: map-get($font-size, m);

    input{
        border: 3.5px solid $color-secondary;
        border-radius: 5px;
    
        background-color: $color-bg-primary;
        box-shadow: none;

        &:checked{
            border: none;
            border-radius: 5px;
        
            background-color: $color-primary;
            box-shadow: none;
        }
    }
}