.login{
    @include flex(col, between, stretch, nowrap);

    height: 35em;

    padding: 5% 7.5%;


    background-color: $color-bg-secondary;
    border-radius: 15px;

    animation-name: anim-fade-down;
    animation-duration: 1s;

    p{
        font-size: map-get($font-size, m);
    
        text-align: center;
    }

    a{
        color: $color-white;
        text-decoration: underline;
    }

    #btLogin{
        
        margin: 0 1.5%;
        
        padding: .85em 0;
        
        font-family: Rubik Medium;
        font-size: map-get($font-size, l);
        color: $color-white;
        
        background-color: $color-primary;
        border: none;
        border-radius: 20px;

        @extend .anim-pop-shadow;
    }
}

.loginInput{
    @include flex(col, none, none, nowrap);

    margin: 0px 1.5%;

    font-size: map-get($font-size, l);

    input{
        height: auto;
    
        margin: .4em 0;
    
        padding: .3em;
    
        font-size: map-get($font-size, m);
    
        background-color: $color-bg-primary;
        border: 1px solid $color-secondary;
        border-radius: 5px;

        @extend .anim-pop-shadow;
    }
}