.signup{
    height: 40em;

    .checkBox{
        @include flex(row, center, none, nowrap);
    
        p{
            font-size: map-get($font-size, s);
        }

        a{
            text-decoration: underline;
        }

        input{
            margin: 0;
            margin-right: .75em;
        
            width: 1em;
            height: 1em;
        }
    }
}