@font-face {
    font-family: Rubik;
    src: url(../res/fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik Medium;
    src: url(../res/fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../res/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Righteous;
    src: url(../res/fonts/Righteous.ttf);
}