::-webkit-scrollbar{
    width: .625em;
    height: .625em;
    background-color: $color-bg-secondary;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    margin: .5em;
}

::-webkit-scrollbar-thumb{
    background: $color-secondary; 
    border-radius: 10px;
}