.watermark{
    @include flex(row, start, center, nowrap);
}

.brand{
    color: $color-secondary;
    font-family: Righteous;
}

.author{
    margin-left: 1em;

    color: $color-secondary;
    font-family: Montserrat;

    @media (hover: hover){

        &:hover{
            animation-name: tada;
            animation-duration: 1s;
        }
    }

    &:active, &:focus{
        animation-name: tada;
        animation-duration: 1s;
    }
}

.contact{
    @include flex(col, between, start, nowrap);

    padding-left: 20%;

    height: 4em;

    h2{
        font-size: 1.5rem;
    }
}

.icons{
    @include flex(row, between, center, wrap);

    width: 100%;
    min-width: 6.25em;
    max-width: 15.625em;

    img{
        margin: 0.3em;
        width: 2em;
        height: 2em;

        @extend .anim-pop;
    }
}

.disclaimer{
    @include flex(row, center, s, nowrap);

    margin-top: 7.8125em;

    p, u{
        color: $color-secondary;
        font-family: Montserrat;
    
        text-align: justify;
    }
}