.menu{
    margin: 0;

    list-style: none;

    p{
        color: $color-white;
        font-family: Rubik Medium;
        font-size: map-get($font-size, m) !important;
    }
}

.logo{
    height: 3.125em;
}

.search{
    width: auto;

    padding: .75em;

    background-color: $color-secondary;
    border-radius: 10px;
}

.searchBox{
    margin-left: 5px;

    width: calc(100% - 2.5em);
    background-color: $color-secondary;
    border: none;
    outline: none;

    color: $color-white;
    font-family: Rubik;
    font-weight: normal;
    font-size: map-get($font-size, s);

    &::placeholder{
        color: $color-white;
    }
}

.cart{
    a{
        @include flex(row, start, center, nowrap);

        img{
            position: relative;
            top: -2px;
        
            margin-right: .75em;
        
            height: 2.5em;
        }

        p{
            margin: 0;
        }
    }
}

.profile{
    a{
        @include flex(row, start, center, nowrap);

        img{
            margin-right: .75em;
        
            height: calc(2.5em - 2px);
        }

        p{
            margin: 0;
        }
    }
}

@media (max-width: 992px) {
    .logo{
        content: url("../res/icon/icon_2.png");
    }
    
    .searchBox::placeholder{
        color: $color-secondary;
    }

    .menu
    {
        p{
            display: none;
        }

        img{
            margin: 0;
        }
    }
}